.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.node {
  background-color: #ccc;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #999;
}

.tooltip {
  position: absolute;
  transform:translate3d(-50%,-50%,0);
  transition:transform 2s cubic-bezier(.02,1.23,.79,1.08);
  background-color: rgb(243, 243, 243);
  border: 1px dashed rgb(243, 243, 243);
  padding: 4px;
  border-radius: 4px;
}
